name: Deployment pipeline

on:
  push:
    branches:
      - master

jobs:
  deployment_pipeline:
    runs-on: ubuntu-18.04
    env:
      URI: ${{ secrets.TEST_MONGODB_URI }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: npm install
        run: |
          npm install
          cd survey-frontend
          npm install
      - name: lint
        run: npm run lint
      - name: build
        run: npm run build
      - name: e2e tests
        uses: cypress-io/github-action@v2
        with:
          command: npm run test:e2e
          start: TEST_MONGODB_URI="$URI" PORT="3001" npm run start:test, npm start:front
          wait-on: http://localhost:3001